body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
#header{
    display: flex;
    margin-top: 50px;
    margin-left: 5px;
    margin-bottom: 50px;
}
.header-1{
    width: 60%;
    padding-left: 7%;
    margin:auto;
    color: rgb(83, 82, 82);
}
h1{
    font-size: 50px;
}
p{
    font-size: 19px;
    margin-bottom: 5%;
    color: rgb(100, 89, 89);
}
.skip{
    color:rgb(247, 120, 70);
}
.header-1 img{
    width: 90%;
    margin-top: 5px;
}
.button-1{
    padding: 15px 30px;
    text-decoration: none;
    background-image: linear-gradient(to right, rgb(247, 120, 70),rgb(255, 104, 16));
    border-radius: 30px;
    color: white;
    font-weight: 500;
}
#header-2nd{
    display: flex;
    background-image: url(images/background/h2-bg.png);
    background-repeat: no-repeat;
    background-position: center;
}
.header-2{
    width: 60%;
    padding-left: 7%;
    margin:auto;
}
.pic-2{
    width: 45%;
    margin-left: 25%;
    margin-top: 10%;
}
.header-2 h3{
    font-size: 40px;
    color: rgb(83, 82, 82);
}
.header-2 p{
    font-size: 19px;
    margin-right: 100px;
    line-height: 30px;
    color: rgb(0, 0, 0);
    margin-bottom: 10%;
    margin-top: 5%;
}
.button-2{
    padding: 15px 30px;
    text-decoration: none;
    background-image: linear-gradient(to right, rgb(247, 120, 70),rgb(255, 104, 16));
    border-radius: 30px;
    color: white;
    font-weight: 500;
}
.my-recipe{
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.my-recipe h3{
    font-size: 40px;
    color: rgb(83, 82, 82);
}
.my-recipe p{
    font-size: 19px;
    color: rgb(83, 82, 82);
}
.recipe-list{
    display: flex;
    width: 100%;
    margin-left: 0px;
    margin-right: 40px;
    margin-bottom: 100px;

}
.recipe-box{
    box-shadow: 5px 7px 40px rgba(145, 145, 145, 0.568);
    width: 80%;
    height: 80%;
    margin: 20px;
    margin-left: 50px;
    margin-right: 20px;
    border-radius: 20px;
}
.rec-pic img{
    width: 90%;
    margin: 18px;
    border-radius: 20px;
}
.rec-text h4{
    font-size: 25px;
    color: rgb(0, 0, 0);
    margin-left: 18px;
    margin-top: -0.1px;
    margin-bottom: -5px;
    padding: -10px;
    font-weight: 700;
}
.rec-text p{
    font-size: 17px;
    line-height: 30px;
    color: rgb(83, 82, 82);
    margin-left: 19px;
    margin-right: 19px;
}
.header-3 .box{
    display: flex;
    box-shadow: 5px 7px 40px rgba(145, 145, 145, 0.568);
    width: 95%;
    margin: 55px;
    border-radius: 20px;
    margin-bottom: 100px;
}
.value{
    display: inline-block;
    margin: 10px 120px;
    margin-bottom: 30px;    
}
.value h1{
    font-size: 35px;
    color: rgb(0, 0, 0);
    margin-top: 50px;
}
.value p{
    font-size: 17px;
    margin-top: -20px;
    margin-bottom: 50px;
}
.footer{
    width: 100%;
    height: 200px;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    background-color: black;
}
.footer h4{
    font-size: 30px;
    color: rgb(83, 82, 82);
    margin-top: -15px;
}
.footer p{
    font-size: 16px;
    color: rgb(201, 201, 201);
}
.footer span{
    color:rgb(247, 120, 70);
}